.welcome{
    font-size: 29px;
    border: 2px solid #cfcfcf;
    padding: 12px 166px 12px 166px;
    background-color: #727573;
    color:#111;
    text-decoration: none;
    outline: 2px solid  #727573;
    position: absolute;
    top: 682px;
    left: 10px;
}

.welcome:hover{
    font-size: 29px;
    border: 2px solid #727573;
    padding: 12px 166px 12px 166px;
    background-color: #cfcfcf;
    color:#111;
    text-decoration: Arial;
    outline: 2px solid  #cfcfcf;
    position: absolute;
    top: 682px;
    left: 10px;
}